@mixin btn {
	text-align: center;
				background: transparent;
				border: 2px solid $gray;
				padding: 10px 20px;
				color: $gray;
				font-size: 1rem;
				cursor: pointer;
				transition: all 0.2s ease;
				width: 160px;
				font-weight: 500;
				border-radius: .5rem;

				&:hover {
					background-color: $text-color;
					border-color: $text-color;
					color: $white;
				}

}